/*----------------------------------------
	32. process css
----------------------------------------*/
@use "../abstract" as *;

// process style 

.work-process-box {
    position: relative;
    z-index: 0;
    border: 1px solid #414141;
    padding: 50px 40px;
    overflow: hidden;
    transition: 0.3s;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 215, 0, 0.8) 0%, #FFD700 100%);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        z-index: -1;
    }

    &:hover {
        border-color: transparent;

        &::before {
            height: 100%;
            opacity: 1;
            visibility: visible;
        }

        p {
            color: var(--clr-common-white);
        }

        .process__icon {
            background-color: #fff;

            img {
                filter: brightness(2%);
            }
        }

        .process__number {
            background-color: var(--clr-common-black);
            color: var(--clr-common-white);
        }
    }

    @media (hover: none) {
        border-color: transparent;
        background: linear-gradient(180deg, rgba(255, 215, 0, 0.8) 0%, #FFD700 100%);
    }

    .process {
        &__icon {
            display: inline-block;
            background: rgba(255, 255, 255, 0.05);
            width: 99px;
            height: 99px;
            line-height: 99px;
            border-radius: 50%;
            transition: 0.3s;

            @media (hover: none) {
                background-color: #fff;

                img {
                    filter: brightness(2%);
                }
            }
        }

        &__title {
            font-size: 30px;
            line-height: 1.5;
            color: var(--clr-common-white);
            margin-bottom: 35px;

            @media (max-width: 576px) {
                font-size: 26px;
            }

            &-font {
                margin-bottom: 38px;

                span {
                    font-size: 150px;
                    line-height: 0.86;
                    -webkit-text-stroke-color: #A5A5A5;
                    filter: drop-shadow(6px 0 0 #A5A5A5);

                    @media (max-width: 992px), (max-width: 576px) {
                        font-size: 100px;
                    }
                }
            }
        }

        &__number {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 28px;
            height: 28px;
            line-height: 29px;
            border-radius: 50%;
            background: var(--clr-theme-2);
            color: var(--clr-common-black);
            z-index: 1;
            transition: 0.3s;
        }
    }

    p {
        color: var(--clr-common-white);
        margin-bottom: 0;
    }
}
